* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* class selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
aside {
  width: 20em;
  padding: 1rem;
  color: #000;
}
main img {
  float: right;
  margin: 2rem;
  padding: 1rem; 
  
}
main p {
  margin: 1rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  text-align: initial;
}
aside h2 {
  position: absolute;
  top: 550px;
  left: 300px;
}


